* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(255, 231, 135, 0.832) !important;
  padding: 0 !important;
}

.logoPanel {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  place-items: center;
  background-color: rgb(172, 53, 23);
  height: 100px;
  width: 100%;
}

.title {
  grid-column: 2;
  grid-row: 1;
}

.logo {
  grid-column: 3;
  grid-row: 1;
}

#navbar {
  position: fixed;
  width: 30%;
  height: 100vh;
  background-color: rgb(255, 119, 119);
  top: 100px;
  left: -100%;
  transition: all 0.5s;
  text-align: center;
}

#options {
  display: none;
}

#optionsBtn {
  grid-column: 1;
  font-size: 40px;
  cursor: pointer;
  color: rgb(255, 242, 177);
}

#options:checked ~ #navbar {
  left: 0;
}

.navbarItem {
  display: block;
  margin: 40px;
  line-height: 30px;
}

main {
  width: 70%;
  text-align: center;
  margin: 75px auto;
}

.staffImg {
  max-width: 70%;
  max-height: 450px;
  margin: 30px auto;
}

.randomBtn {
}

.link {
  text-transform: uppercase;
}

.explosion {
  margin: auto;
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
}

.porn {
}

.randomBtn {
  position: fixed;
  right: 25px;
  bottom: 50px;
  padding: 10px;
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  border: 3px solid green;
  border-radius: 50%;
}

.snortingVid {
  max-width: 600px;
}
