* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(255, 231, 135, 0.832);
}

.logoPanel {
  background-color: rgb(172, 53, 23);
  height: 100px;
}

.title {
  text-align: center;
}

.logo {
  position: absolute;
  right: 25px;
  height: 250px;
  width: 250px;
}

#navbar {
  display: block;
  position: fixed;
  width: 30%;
  height: 100vh;
  background-color: rgb(99, 99, 99);
  top: 100px;
  left: -100%;
  transition: all 0.5s;
  text-align: center;
}

#options {
  display: none;
}

#optionsBtn {
  position: absolute;
  z-index: 3;
  order: 5;
  font-size: 25px;
  margin-right: 30px;
  cursor: pointer;
  display: block;
  color: ghostwhite;
}

#options:checked ~ #navbar {
  position: absolute;
  z-index: 2;
  left: 0;
}

.navbarItem {
  display: block;
  margin: 40px;
  line-height: 30px;
}

.link {
  text-transform: uppercase;
}

.explosion {
  position: fixed;
  right: 100px;
  top: 250px;
}

.porn {
  position: fixed;
  right: 200px;
  top: 250px;
}
